.about {
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background: $gradient;
		height: 28%;
		width: 100%;
	}
	
	@include above (sm) {

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 28%;
			background: $gradient;
		}
	}

	&__img-col {

		@include below (sm) {
			text-align: center;
		}
	}

	&__text {

		@include below (sm) {
			margin-top: 3rem;
		}
	}

	&__img {

		@include above (sm) {
			padding-left: 2rem;
		}
	}

	&__img-text {
		color: $white;
		transform: rotate(90deg);
		transform-origin: left;
		position: absolute;
		top: 0;

		@include below (sm) {
			display: none;
		}

		span {
			width: 40px;
			height: 1px;
			display: inline-block;
			background: $white;
			position: relative;
			top: -3px;
		}

		p {
			margin: 0;
		}
	}
}