.career {

	&__link {
		display: block;
		margin-bottom: 3rem;

		&:last-child() {
			margin-bottom: 0;
		}
	}

	&__positions {

		@include below (sm) {
			padding-top: 3rem;
		}
	}

	&__positions-title {

		span {
			background: $gradient;
			border-radius: 50%;
			color: $white;
			font-family: $custom-font-alt;
			font-weight: 400;
			font-size: 18px;
			padding: .5rem .8rem;
		}
	}
}