.footer {
	position: fixed;
	bottom: 0;
	z-index: -1;
	width: 100%;
	left: 0;

	&__img {
		min-height: 20rem;
		background: no-repeat top center;
		background-size: cover;
		position: relative;
		z-index: -1;

		@include above (sm) {
			min-height: 25rem;
		}
	}

	&__scroll-top {
		position: relative;
		top: -.8rem;
		transform: rotate(-90deg);
		display: inline-block;
	}

	&__item {
		position: relative;

		a {
			font-family: $custom-font-body !important;
			color: $white !important;
		}
	}
}
