.header {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background: $white;

	&__logo {
		display: block;
		float: left;

		img {
			// @include between (sm, md) {
				width: 150px;
				height: 59px;	
			// }

			@include above (md) {
				width: 180px;
				height: 71px;
			}
		}
	}
}