/********************LAYOUTS********************/

/* Base Styles */


//links
a[href^="tel:"]:not(.btn),
a[href^="mailto:"]:not(.btn) {
  font-family: $custom-font-alt;
  color: $red;
  transition: all ease .3s;

  &:hover {
    color: $color-font-body;
  }
}

.contact {
  font-family: $custom-font-alt;
  margin-bottom: 1.5rem;
}

//titles
.meta-title {
  margin-top: 0;
  color: $red;
  font-family: $custom-font-alt;
  font-size: 14px;
  font-weight: 700;
}

.title {
  margin-top: 0;
  margin-bottom: 1.5rem;

  @include above (sm) {
    margin-bottom: 2.5rem;
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here

  }

  &__title {
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include above (sm) {
      margin-bottom: 2.5rem;
    }
  }

  &__col {
	
	@include above (sm) {
  		&.first {
  			p:last-child {
			margin-bottom: 0;
			}
  		}
  	}
	
	&.last {
		p:last-child {
			margin-bottom: 0;
		}
	}
  }
}


.bg {
  
  &--gray-dark {
    color: $white;
  } 

  &--none {
    background-color: $white;
  }
}

.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 7rem;
    }

    &--bottom {
      padding-bottom: 7rem;
    }

    &--both {
      padding-top: 7rem;
      padding-bottom: 7rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}