/**
 * Navigation
 **/

.nav {

	/**
	 * Mobile menu panel
	 **/

	&__menu {
	    list-style: none;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
	    top: 80px;
	    left: 0;
	    margin: 0;
	    padding: 0;

		@include above (sm) {
			position: relative;
			width: auto;
			top: 0;
			float: right;
			display: block !important;
		}
	}

	&__item {
		list-style: none;
		padding: .5rem 1rem;
		counter-increment: item 1;

		@include above (sm) {
			float: left;
			display: inline-block;
		}

		@include between (sm, md) {
			padding: 1rem .5rem;
		}

		@include above (md) {
			padding: 1rem;
		}

		&.is-active > a {
			color: red;
		}
	}

	&__link {
		font-family: $custom-font-alt;
		font-size: 16px;
		color: $color-font-body;
		transition: all ease .3s;

		&:before {
			content: '0' counter(item) '.';
			color: $red;
			margin-right: .5rem;
		}

		&:hover {
			color: $red;
		}
	}

	&__dropdown {
		display: none;
		padding: 0;
		position: absolute;
		top: 100%;
		background: red;

		&.is-visible {
			display: block;
		}

		li {
			padding: 0;
		}

		a {
			padding: 0.5rem 1rem;
			white-space: nowrap;

			&:hover {
				text-decoration: none;
			}
		}
	}
	


	&--mobile {
		
		@include below (sm) {
			position: fixed;
			z-index: 78888;
			top: 0;
			right: 0;
			height: calc(100% - 0px);
			width: 100%;
			transform: translateX(100%);
			transition: all .6s ease;
			background: $white;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;

			&.is-open {
				transform: translateX(0);
			}

			@at-root {
				// Set body to fixed		
				body.is-fixed {				
					overflow: hidden;
					position: fixed;
					width: 100%;
					height: 100%;				
				}
			}
		}
	}

	/**
	 * Mobile menu toggle
	 **/

	&-toggle {
		display: block;
		position: absolute;
		z-index:  88888;
		top: 50%;
		right: 1.5rem;
		transform: translateY(-49.9%);
		padding-top: 1.1rem;
		padding-bottom: 1.1rem;
		cursor: pointer;

		@include above (sm) {
			display: none;
		}

		&__label {
			color: $red;
			font-weight: 600;
			font-size: 12px;
			vertical-align: middle;
			padding-right: .3rem;
			font-family: $custom-font-alt;
		}

		&__icon {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 1.5rem;
			height: 3px;
			background: $black;
			transition: all .3s ease;

			&::before,
			&::after {
				content: '';
				display: block;
				position: absolute;
				width: 100%;
				height: 3px;
				background: $black;
				transition: all .3s ease;
			}

			&::before {
				bottom: -.45rem;
			}

			&::after {
				top: -.45rem;
			}

			body.is-fixed & {
				background: transparent;

				&::before {
					top: 0;
					transform: rotate(45deg); 
				}

				&::after {
					top: 0;
					transform: rotate(-45deg);
				}
			}
		}
	}
}