.services {

	&__flex {
		width: 100%;
	}

	&__text {

		@include below (sm) {
			margin-bottom: 3rem;
		}
	}

	&__item {
		padding-top: 2.5rem;
		transition: all ease 1.2s !important;

		@include below (sm) {
			width: 100%;
		}

		@include above (sm) {
			padding-top: 4.5rem;
			width: 33.2%;
		}

		ul {
			padding: 0;
		}

		li {
			list-style: none;
			display: flex;

			&:before {
				content: '-';
				margin-right: .5rem;
				color: $red;
				font-weight: 500;
			}
		}
	}
}