.slider {
	color: $white;
	position: relative;
	background: $gray;

	&:after {
		background: $gradient;
		content: '';
		width: 100%;
		height: calc(100% - 3rem);
		position: absolute;
		left: 0;
		top: 0;

		@include above (sm) {
			width: 65%;
		}	
	}

	&__list {

	}

	&__item {
		z-index: 2;
		background: no-repeat center center;
		background-size: cover;
		overflow: hidden;

		@include below (sm) {
			width: 100%;
			background-clip: content-box;

			&:before {
				content: '';
				display: block;
				height: 0;
				padding-bottom: 20rem;
			}
		}

		@include above (sm) {
			position: absolute;
			right: 0;
			height: calc(100% + 3rem);
		}
	}

	&__container {

	}

	&__title {
		margin-top: 0;
		margin-bottom: 0;
	}

	&__text {
		padding-bottom: 2rem; 

		@include below (sm) {
			width: 100%;
		}

		p {

			&:last-child() {

				@include above (sm) {
					margin-bottom: 3rem;
				}
			}
		}

		.meta-title {
			color: $white;
			margin-top: 3rem;
		}

		.title {
			margin-bottom: 1rem;	
		}
	}	
}


/**
 * Owl Carousel core
 **/

.is-slider {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1;

	.owl-stage {
		position: relative;
		-ms-touch-action: pan-Y;
		padding-top: 3rem;

		&:after {
			content: '';
			display: block;
			clear: both;
			visibility: hidden;
			line-height: 0;
			height: 0;
		}

		&-outer {
			position: relative;
			overflow: hidden;
			-webkit-transform: translate3d(0, 0, 0);
		}
	}

	.owl-item {
		position: relative;
		min-height: 1px;
		float: left;
		-webkit-backface-visibility: hidden;
		-webkit-tap-highlight-color: transparent;
		-webkit-touch-callout: none;
		-webkit-transform: translate3d(0,0,0);
	}

	// Navigation
	.owl-nav,
	.owl-dots {
		&.disabled {
			display: none;
		}
	}

	.owl-nav {
		position: absolute;
    	width: 100%;
    	top: 0;
    	display: flex;
    	align-items: center;
    	height: 3rem;
    	justify-content: flex-end;

    	@include above (sm) {
    		left: 52.5%;
    		justify-content: flex-start;
    	}
	}

	.owl-prev,
	.owl-next {
		font-size: 20px;
		margin-right: 1rem;
		margin-left: 1rem;
		display: flex;
	}

	.owl-prev,
	.owl-next,
	.owl-dot {
		cursor: pointer;
		cursor: hand;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		transition: all .3s ease;

		&.disabled {
			opacity: 0;
			cursor: default;
		}
	}

	// States
	&.owl-loaded {
		display: block;
	}

	&.owl-loading {
		opacity: 0;
		display: block;
	}

	&.owl-hidden {
		opacity: 0;
	}

	&.owl-refresh .owl-item {
		display: none;
	}

	&.owl-drag .owl-item {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	&.owl-grab {
		cursor: move;
		cursor: grab;
	}

	&.owl-rtl {
		direction: rtl;
	}

	&.owl-rtl .owl-item {
		float: right;
	}

	/**
	 * Animations
	 **/

	 // Defaults
	.animated {
		animation-duration: 1000ms;
		animation-fill-mode: both;
	}

	.owl-animated-in {
		z-index: 0;
	}

	.owl-animated-out {
		z-index: 1;
	}

	.fadeOut {
		animation-name: fadeOut;
		opacity: 0;

		.slider__item {

		}
	}

	.fadeIn {
		animation-name: fadeIn;
		opacity: 1;

		.slider__item {
			
		}
	}

	@keyframes fadeOut {

		0% {
			opacity: 1;
		}  

		100% {
			opacity: 0;
		}  
	}

	@keyframes fadeIn {

		0% {
			opacity: 0;
		}  

		100% {
			opacity: 1;
		}  
	}
}