.hero {
	//minus header height
	height: calc(100vh - 103px);
	background: url('../img/lines.svg') no-repeat bottom center $white;
	background-size: contain;

	&__container {
		position: relative;
	}

	&__row {
		flex: 1;
	}

	&__meta-title {
		margin-bottom: 2rem;
	}

	&__title {
		
	}

	&__text {

		span {
			color: $red;
			font-weight: 700;
		}
	}

	&__scroll {
		position: absolute;
		bottom: 5rem;
		right: 0;
		text-transform: uppercase;
		letter-spacing: .2rem;
		font-family: $custom-font-alt;

		@include below (sm) {
			display: none;
		}
	}

	&__scroll-text {
		transform: rotate(90deg);
		transform-origin: 0;
		margin-bottom: 5rem;
	}

	&__scroll-line {
		height: 78px;
		width: .1rem;
		background: $gray;
		position: relative;
		overflow: hidden;

		&:after {
			content: '';
			position: absolute;
			height: .7rem;
			width: 100%;
			top: 0;
			left: 0;
			background: $red;
			animation: scrollLine 2s linear infinite;
		}
	}
}