@keyframes scrollLine {
    0% {
        transform: translateY(0) scaleY(1);
    }

    25% {
        transform: translateY(0) scaleY(2.5);
    }

    40% {
        transform: translateY(30px) scaleY(1.5);
    }

    50% {
        transform: translateY(60px) scaleY(1);
    }

    100% {
        transform: translateY(78px) scaleY(1);
    }
}

.fade-in {
    transition: all 1.2s ease-out;
    opacity: 0;
}

.fade-right {
    transition: all .7s ease-in;
    left: 4.5rem;
    opacity: 0;
}

.fade-up {
    transition: all .7s ease-out;
    transform: translate3d(0px, 100px, 0px);
    backface-visibility: hidden;
    opacity: 0;

    @include above (sm) {
        transform: translate3d(0px, 50px, 0px);
    }
}

.slide-up {
    transition: all .7s ease-out;
    transform: translate3d(0px, 100px, 0px);
    backface-visibility: hidden;

    @include above (sm) {
        transform: translate3d(0px, 150px, 0px);
    }
}

.fade-down {
    transition: all .7s ease-out;
    transform: translate3d(0px, -100px, 0px);
    backface-visibility: hidden;
    opacity: 0;
}

.fade-up.in-view, 
.fade-down.in-view {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

.slide-up.in-view {
    transform: translate3d(0px, 0px, 0px);
}

.fade-in.in-view {
    opacity: 1;
}

.fade-right.in-view {
    left: 1.5rem;
    opacity: 1;
}