.btn {
	display: inline-block;
	position: relative;

	&--round {
		padding-left: 3rem;
		color: $color-font-body;
		font-weight: 500;

		&:before {
			border-radius: 50%;
			background: $gradient;
			content: '\f061';
			width: 2.5rem;
			height: 2.5rem;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			font-family: 'Font Awesome 5 Free';
			font-weight: 900;
			color: $white;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}