h1, .h1 {
  font-size: 42px;

  @include between (sm, md) {
    font-size: 52px;
  }

  @include above (md) {
    font-size: 72px;
  }
}

h2, .h2 {
  font-size: 28px;

  @include above(md) {
    font-size: 36px;
  }
}

h3, .h3 {
  font-size: 24px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 14px;
}


// Change headings font if a heading font is set
@if $font-headings != null {
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $font-headings;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
  }
}